*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
.navbar{
    display: flex;
  
    align-items: center;
    justify-content: space-between;
}
.cards{
    
}